.ico_logout {
	background:url(../images/icons/small/door_open.png) no-repeat left center !important;
}
.ico_email {
	background:url(../images/icons/small/email.png) no-repeat left center !important;
}
.ico_email_open {
	background:url(../images/icons/small/email_open.png) no-repeat left center !important;
}
.ico_folder {
	background:url(../images/icons/small/folder.png) no-repeat left center !important;
}
.ico_folder_rename {
	background:url(../images/icons/small/folder_edit.png) no-repeat left center !important;
}
.ico_folder_create {
	background:url(../images/icons/small/folder_add.png) no-repeat left center !important;
}
.ico_folder_delete {
	background:url(../images/icons/small/folder_delete.png) no-repeat left center !important;
}
.ico_source {
	background:url(../images/icons/small/script_code.png) no-repeat left center !important;
}
.ico_reply {
	background:url(../images/icons/small/email_go.png) no-repeat left center !important;
}
.ico_forward {
	background:url(../images/icons/small/resultset_next.png) no-repeat left center !important;
}
.ico_archive {
	background:url(../images/icons/small/report.png) no-repeat left center !important;
}
.ico_junk {
	background:url(../images/icons/small/error.png) no-repeat left center !important;
}
.ico_delete {
	background:url(../images/icons/small/delete.png) no-repeat left center !important;
}
.ico_reading_pane {
	background:url(../images/icons/small/layout.png) no-repeat left center !important;	
}
.ico_reading_pane_bottom {
	background:url(../images/icons/small/application_split.png) no-repeat left center !important;	
}
.ico_reading_pane_right {
	background:url(../images/icons/small/application_tile_horizontal.png) no-repeat left center !important;	
}
.ico_reading_pane_hide {
	background:url(../images/icons/small/application.png) no-repeat left center !important;	
}
.ico_tags {
	background:url(../images/icons/small/asterisk_orange.png) no-repeat left center !important;	
}
.ico_addressbook {
	background:url(../images/icons/small/book_addresses.png) no-repeat left center !important;	
}
.ico_write {
	background:url(../images/icons/small/bullet_edit.png) no-repeat left center !important;	
}
.ico_get_email {
	background:url(../images/icons/small/arrow_refresh.png) no-repeat left center !important;
}
.ico_save {
	background:url(../images/icons/small/disk.png) no-repeat left center !important;
}
.ico_attach {
	background:url(../images/icons/small/attach.png) no-repeat left center !important;
}
.ico_send {
	background:url(../images/icons/small/email_go.png) no-repeat left center !important;
}
.ico_spellcheck {
	background:url(../images/icons/small/spellcheck.png) no-repeat left center !important;
}
.emailrow .x-grid3-col-0 {
	background:url(../images/icons/small/bullet_orange.png) no-repeat 5px 50% !important;
}
.emailrow.seen .x-grid3-col-0 {
	background-image: none !important;
}
.emailrow.answered .x-grid3-col-0 {
	background:url(../images/icons/small/email_go.png) no-repeat 5px 50% !important;
}