*,html,body,h1,h2,h3,h4,h5,h6 {
	font-family: HelveticaNeue,'Helvetica Neue',Helvetica,Arial,Verdana,Geneva,sans-serif;	
}

.logo h1 {
	display: block;
	height: 30px;
	line-height: 30px;
	margin-top: 10px;
	padding-left: 10px;
}

p.copyright {
	font-family: HelveticaNeue,'Helvetica Neue',Helvetica,Arial,Verdana,Geneva,sans-serif;
	font-size: 70%;
	text-align: right;
}
.emailrow td div {
	line-height: 16px;
	font-weight: bold;
}

.emailrow.seen td div {
	font-weight: normal;
}

div.newemails {
	font-weight: bold;
}

.emailrow.deleted td div, div.deletefolder a span {
	text-decoration: line-through;
}

.emailrow .x-grid3-cell-first .x-grid3-cell-inner {
	padding-left: 26px;
}

.preview div.email-header {
	background: #F1F2F4;
	border-bottom: 1px solid #DADADB;
	padding: 5px;
}

.preview div.email-date {
	color: #555555;
	display: inline;
	float: right;
	font-size: 11px;
	font-weight: normal;
}

.preview h4.email-from {
	color: #555555;
	font-size: 11px;
	font-weight: normal;
}

.preview div.email-body {
	padding: 10px;
}

div.image-info {
	background: #f7fdcb url(../images/default/window/icon-info.gif) no-repeat scroll 6px 3px;
	border: 1px solid #c2d071;
	font-size: 0.83em;
	line-height: 20px;
	margin: 8px !important;
	min-height: 20px;
	padding: 10px 10px 10px 46px;
}

div.image-info div {
	display: inline !important;
	float: left;
}

div.image-info table {
	float: right;
}




li.x-form-group-item {
	margin-right: 2px;
	margin-bottom: 2px;
	border: 1px solid #C1C1C1;
	padding: 2px;
	position: relative;
	float: left;
	background: #D9F9D9;
	cursor: default;
}

li.x-form-group-item a {
	text-decoration: none !important;
}

a.x-form-group-item-close {
	background-image: url("../images/gray/tabs/tab-close.gif");
	opacity: 0.8;
	background-repeat: no-repeat;
	cursor: pointer;
	display: block;
	height: 11px;
	position: absolute;
	right: 3px;
	top: 3px;
	width: 11px;
	z-index: 2;
}

a.x-form-group-item-close:hover {
	opacity: 1;
}

a.x-form-group-item-text {
	padding-right: 19px;
	padding-left: 2px;
}




