*,html,body,h1,h2,h3,h4,h5,h6 {
	font-family: HelveticaNeue,'Helvetica Neue',Helvetica,Arial,Verdana,Geneva,sans-serif;	
}

.logo h1 {
	background: transparent url(../images/extmail_logoicon.png) top left no-repeat;
	display: block;
	height: 30px;
	line-height: 30px;
	margin-top: 10px;
	padding-left: 50px;
}

p.copyright {
	font-family: HelveticaNeue,'Helvetica Neue',Helvetica,Arial,Verdana,Geneva,sans-serif;
	font-size: 70%;
	text-align: right;
}
.emailrow td div {
	line-height: 16px;
	font-weight: bold;
}

.emailrow.seen td div {
	font-weight: normal;
}

div.newemails {
	font-weight: bold;
}

.emailrow.deleted td div {
	text-decoration: line-through;
}

.emailrow .x-grid3-cell-first .x-grid3-cell-inner {
	padding-left: 26px;
}

.preview div.email-header {
	background: #F1F2F4;
	border-bottom: 1px solid #DADADB;
	padding: 5px;
}

.preview div.email-date {
	color: #555555;
	display: inline;
	float: right;
	font-size: 11px;
	font-weight: normal;
}

.preview h4.email-from {
	color: #555555;
	font-size: 11px;
	font-weight: normal;
}

.preview div.email-body {
	padding: 10px;
}