h1,h2,h3,h4,h5,h6 {
	font-family: HelveticaNeue,'Helvetica Neue',Helvetica,Arial,Verdana,Geneva,sans-serif;	
}

.logo h1 {
	background: transparent url(../images/extmail_logoicon.png) top left no-repeat;
	display: block;
	height: 30px;
	line-height: 30px;
	margin-top: 10px;
	padding-left: 50px;
}

p.copyright {
	font-family: HelveticaNeue,'Helvetica Neue',Helvetica,Arial,Verdana,Geneva,sans-serif;
	font-size: 70%;
	text-align: right;
}